<div class="row">
  <div class="col-xs-10">
    <app-ingredient-edit></app-ingredient-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item" 
        style="cursor: pointer" 
        *ngFor="let ingredient of ingredients">
        {{ ingredient.name }}
      </a>
    </ul>
  </div>
</div>