<div class="row">
  <div class="col-xs-12">
    <img 
      [src]="recipe.imageUrl" 
      alt="{{ recipe.name }}" 
      class="img-response"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div 
      class="button-group"
      appDropdown>
      <button 
        type="button" 
        class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a style="cursor: pointer;" (click)="onRecipeEdit()">Edit Recipe</a></li>
        <li><a style="cursor: pointer;" (click)="onRecipeDelete()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li 
        class="list-group-item" 
        *ngFor="let recipePart of recipe.recipeParts">
        {{ recipePart.ingredient.name }} - {{ recipePart.quantity }} ({{ recipePart.unit}})
      </li>
    </ul>
  </div>
</div>