<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button 
            type="submit" 
            class="btn btn-success"
            [disabled]="!recipeForm.valid">Save</button>
          <button 
            type="button" 
            class="btn btn-danger"
            (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label name="name">Name</label>
            <input 
              type="text" 
              id="name"
              class="form-control"
              formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label name="imageUrl">Image URL</label>
            <input 
              type="text" 
              id="imageUrl"
              class="form-control"
              formControlName="imageUrl"
              #imageUrl>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imageUrl.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label name="description">Description</label>
            <textarea 
              type="text" 
              id="description"
              class="form-control"
              rows="6"
              formControlName="description">
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ng-select 
            [items]="ingredients"
            bindLabel="name"
            bindValue="id"
            (change)="onSelectIngredient($event)">
          </ng-select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="recipeParts">
          <div class="row"
               *ngFor="let ingredientControl of recipeForm.get('recipeParts').controls; let i=index"
               [formGroupName]="i"
               style="margin-top: 10px;">
            <div class="col-xs-8">
              <input 
                type="hidden"
                formControlName="id">
            </div>
            <div formGroupName="ingredient">
              <input 
                type="hidden"
                formControlName="id">
              <div class="col-xs-6">
                <input 
                  type="text"
                  class="form-control"
                  formControlName="name">
              </div>
            </div>
            <div class="col-xs-2">
              <input 
                type="number"
                class="form-control"
                formControlName="quantity">
            </div>
            <div class="col-xs-2">
              <input 
                type="text"
                class="form-control"
                formControlName="unit">
            </div>
            <div class="col-xs-2">
              <button 
                type="button"
                class="btn btn-danger"
                (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <div class="form-group">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success"
                    type="button"
                    (click)="onAddIngredient()">Add Ingredient</button>
          </div>
        </div>
      </div>
      <input 
        type="hidden" 
        id="id"
        class="form-control"
        formControlName="id">
    </form>
  </div>
</div>
